.not-found-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-name {
  font-family: 'Bree Serif';
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}
